#add-friend {
  background-color: rgb(228, 18, 18);
  padding: 5px;
  color: white;
}
#add-border {
  background-color: rgb(9, 224, 20);
  padding: 5px;
  color: white;
}
#add-background {
  background-color: rgb(243, 5, 172);
  padding: 5px;
  color: white;
}
#color-friend {
  background-color: rgb(18, 168, 228);
  padding: 5px;
  color: white;
}
#extra-friend {
  background-color: rgb(139, 8, 172);
  padding: 5px;
  color: white;
}
